.results>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    background-image: linear-gradient(to right, #232526, #414345);
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid rgb(36, 20, 131);
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #fff;
    background-color: transparent;
}

.searchTerm:focus {
    color: #FFF;
}


/*Resize the wrap to see the search bar change!*/

.wrap {
    width: 30%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search::placeholder {
    color: fff;
}